<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <TerminalConsole name="Console">
            <PatternLayout pattern="%highlightError{[%d{HH:mm:ss} %level]: %msg%n%xEx}"/>
        </TerminalConsole>
        <RollingRandomAccessFile name="File" fileName="logs/latest.log" filePattern="logs/%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="[%d{dd.MM.yyyy HH:mm:ss}] [%level]: %msg%n" />
            <Policies>
                <TimeBasedTriggeringPolicy />
                <OnStartupTriggeringPolicy />
            </Policies>
        </RollingRandomAccessFile>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" level="info" />
            <AppenderRef ref="File" level="info" />
        </Root>
    </Loggers>
</Configuration>