name: Build NoobCloud
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 18
        uses: actions/setup-java@v3
        with:
          java-version: '18'
          distribution: 'temurin'
          cache: gradle
      - name: Grant execute permission for gradlew
        run: chmod +x gradlew
      - name: Build with gradle
        run: ./gradlew shadowJar
      - name: Prepare upload
        run: |
          cp cloud/build/libs/*.jar .
          mkdir libraries && cp plugin/build/libs/*.jar libraries/
      - name: Upload NoobCloud
        uses: actions/upload-artifact@v3
        with:
          name: NoobCloud
          path: |
            *.jar
            libraries